html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Main {
  background-image: url("../../static_files/BG_darkg.svg");
  background-size: cover;
  min-height: 100vh;
  font-size: 50px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow-y: scroll;
  position: relative;
  background: #0a0a12;
}

.Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 67vh;
  height: 100%;
  font-size: 1.4vmin;
}
.Image {
  width: 100%;
  margin-bottom: -29px;
}

.Form {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  height: 85vh;
}

input {
  width: 69%;
  padding: 16px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08) !important;
  border: 1px solid rgba(255, 255, 255, 0.27);
}
input,
select,
textarea {
  color: #ffffff !important;
  font-size: 16px;
}

.Input {
  padding: 6px;
  color: #ffffff;
}

.login {
  text-decoration: none;
  color: #08ac70;
}
.pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconDiv {
  position: absolute;
  /* float: right; */
  font-size: 22px;
  /* top: 50%; */
  right: 70px;
  transform: translateY(-50%);
}

.eye {
  padding: 0 2rem;
  /* float: right; */
  cursor: pointer;
}

.buttonSubmit {
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  cursor: pointer;
  width: 74%;
  height: 56px;
  left: 512px;
  top: 681.19px;
  margin-top: 20px;
  background: #08ac70;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-style: hidden;
  box-shadow: 0px 2px 0 #013421, 1.5px 1.5px 0 #19cb8a;
}

.buttonDisabled {
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  cursor: pointer;
  width: 74%;
  height: 56px;
  left: 512px;
  top: 681.19px;
  margin-top: 20px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 16px;
  color: rgba(108, 108, 113, 1);
  border-style: hidden;
  box-shadow: 0px 2px 0 rgba(6, 40, 32, 1), 1.5px 1.5px 0 rgba(16, 87, 66, 1);
  background-color: rgba(9, 75, 56, 1);
  cursor: not-allowed;
}

.paragraph {
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
}
.HaveAccount {
  padding-bottom: 40px;
}

.foot {
  /* position: absolute; */
  bottom: 0;
  font-size: 2.3vmin;
  padding: 0 0 0 0;
}
.errorText {
  width: calc(69% + 32px);
  color: rgba(217, 95, 95, 1);
  text-align: left;
  margin: 3px auto 0;
  font-size: 13px;
}

.errorInput {
  border-color: rgba(217, 95, 95, 1);
  color: rgba(217, 95, 95, 1);
}


@media screen and (max-width:500px) and (min-width:450px){
.eye{
  padding: 0 1rem;
}

}
@media screen and (max-width:449px) and (min-width:400px){
.eye{
  padding: 0 .75rem;
}
.iconDiv{

  right: 62.5px;
}

}
@media screen and (max-width: 399px) {
.eye{
  padding: 0;
}
.iconDiv{
  right: 55px !important;
}

}