html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Main {
  background-image: url("../../static_files/BG_darkg.svg");
  background-size: cover;
  min-height: 100vh;
  font-size: 50px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 67vh;
  height: 100%;

  font-size: 1.4vmin;
}
.Image {
  width: 100%;
  margin-bottom: -29px;
}

.Form {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  height: 92vh;
}

input {
  width: 69%;
  padding: 16px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.27);
}
input,
select,
textarea {
  color: #ffffff;
  font-size: 16px;
}

.Input {
  padding: 6px;
  color: #ffffff;
}

.login {
  text-decoration: none;
  color: #08ac70;
}

.buttonSubmit {
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  cursor: pointer;
  width: 74%;
  height: 56px;
  left: 512px;
  top: 681.19px;
  margin-top: 20px;
  background: #08ac70;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-style: hidden;
  box-shadow: 0px 2px 0 #013421, 1.5px 1.5px 0 #19cb8a;
}
.buttonSubmit:hover {
  background: #013421;
  color: #e4ec9d;
}

.paragraph {
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
}
.HaveAccount {
  padding-bottom: 40px;
}

.foot {
  position: absolute;
  bottom: 0;
  font-size: 2.3vmin;
  padding: 0 0 0 0;
}
