.outermostDiv {
  color: var(--text_color);
  background: var(--main_background_url_dark) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
}
.innermostDiv {
  box-sizing: border-box;
  width: 1064px;
  /* height: 600px; */
  background: rgba(128, 130, 188, 0.06);
  border: 3.60383px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(16.2173px);
  border-radius: 14.4153px;
  margin: 40px auto 0px auto;
}

.mainHeading {
  margin: auto;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f78a20;
  margin-top: 20px;
}

.MainContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-align: left;
  width: 95%;
  padding: 10px;
  margin-top: 20px;
}

.para{
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0.03em;
color: #FDF3E7;

}

@media screen and (max-width:1200px) and (min-width:993px) {
  .innermostDiv {
    width: 90%;
  }
  .mainHeading{
    font-size: 2rem;
  }
  
  .para{
    font-size: 1.5rem;
  }
}


@media screen and (max-width:992px) and (min-width:769px){
  .innermostDiv {
    width: 90%;
  }
  .mainHeading{
    font-size: 2rem;
  }
  .para{
    font-size: 1.40rem;
  }
}


@media screen and (max-width:768px) and (min-width:481px){

  .innermostDiv {
    width: 95%;
  }
  .mainHeading{
    font-size: 1.75rem;
  }
  .para{
    font-size: 1.2rem;
  }
  .MainContent{
    margin-top: 0px;
  }
  .mainHeading{
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .outermostDiv{
    background: var(--mobile_background) no-repeat center fixed;
    background-size: cover;
  }
  .innermostDiv {
    width: 98%;
    margin: 20px auto 0px auto;
  }
  .mainHeading{
    font-size: 1.5rem;
  }
  .MainContent{
    width: 95%;
  }
  .para{
    font-size: 1.05rem;
  }
  .MainContent{
    margin-top: 0px;
  }
  .mainHeading{
    margin-top: 10px;
  }
}