.outermostDiv {
  color: var(--text_color);
  background: var( --main_background_url) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding:0rem 5rem;
  background-color: #1c0f35;
}

.appName{
  cursor: pointer;
}

.appName>img{
  height: 3.2vh;
}

.navigation {
  display: flex;
  color: white;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 500;
  font-family: 'Avenir';
  line-height: 100%;
  box-sizing: border-box;
}

.rightDiv{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 6rem;
}

.navigation > ul {
  position: relative;
  display: flex;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
}

ul>li{
  display: flex;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.anchor{
  position: absolute;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  border-top: 5px solid rgba(255, 255, 255, 0);
  padding: 2rem 1rem;
  margin: 0 1rem;
  z-index: 1;
  color: white;
  text-decoration: none;
}

.backgroundBlur{
  box-sizing: border-box;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  border-top: 5px solid rgba(255, 255, 255, 0);
  padding: 2rem 1rem;
  margin: 0 1rem;
  color: rgba(255, 255, 255, 0);
}

.anchor:hover + .backgroundBlur{
  background: radial-gradient(80.95% 49.95% at 50% 100.57%, #08AC70 0%, rgba(14, 174, 115, 0) 100%);
  filter: blur(14px);
}

ul>li>.anchor:hover{
  border-bottom: 5px solid rgb(34, 139, 34);
}

.userProfile{
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  gap: 1.3rem;
  align-items: center;
}

.userProfile>p{
  margin: 0;
  box-sizing: border-box;
}

.icons{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  box-sizing: border-box;
}

.icons>img{
  cursor: pointer;
}

@media screen and (max-width:992px) and (min-width:768px){
  .anchor{
    margin: 0;
  }
  .backgroundBlur{
    margin: 0;
  }
  .rightDiv{
    gap:3rem
  }
  .userProfile{
    gap:0.6rem
  }
}

@media screen and (max-width:992px) and (min-width:768px){
  .anchor{
    margin: 0;
  }
  .backgroundBlur{
    margin: 0;
  }
  .rightDiv{
    gap:3rem
  }
  .userProfile{
    gap:1rem
  }
}

@media screen and (max-width:766px){
  .anchor{
    margin: 0;
  }
  .backgroundBlur{
    margin: 0;
  }
  .rightDiv{
    gap:1rem
  }
  .userProfile{
    gap:1rem
  }
  .icons{
    padding-left: 1rem;
  }
  .navbar{
    padding: 0rem 2rem;
  }
}