.main {
  background-image: url("../../static_files/BG_darkg.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: 50px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: #0a0a12;
  min-height: 43rem;
  overflow-y: auto;
}

.container1 {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 43rem;
  overflow-y: auto;
}

.container2 {
  display: flex;
  align-items: center;
  font-size: 1.4vmin;
  height: 100%;
  width: 40%;
  min-width: 30rem;
  max-width: 38rem;
}

.image {
  width: 100%;
  margin-bottom: -29px;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form>img{
  width: 100%;
}

.forgot {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #08ac70;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  padding: 0rem;
  padding-bottom: 1rem;
}

.a2 {
  text-decoration: none;
  color: #08ac70;
}
.logBtn {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  background: #08ac70;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 850;
  font-size: 1.6rem;
  color: #ffffff;
  border-style: hidden;
  box-shadow: 0px 2px 0 #013421, 1.5px 1.5px 0 #19cb8a;
}

.para {
  font-size: 16px;
  color: #ffffff;
}
input {
  width: 69%;
  padding: 16px;

  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

input,
select,
textarea {
  color: #ffffff;
  font-size: 16px;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
  flex-direction: row-reverse;
}

.input>input{
  width: 100%;
  position: relative;
}

.pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconDiv {
  position: absolute;
  float: right;
  font-size: 22px;
}

.eye {
  padding: 0 2rem;
  float: right;
  cursor: pointer;
}

@media screen and (min-width: 2001px){
  .container2{
   font-size: 2rem;
    max-width: 55rem;
  }
  .input>input{
    font-size: 2rem;
  }
  .forgot{
    font-size: 2rem;
  }
  .logBtn{
    font-size: 1.8rem;
  }
  .para{
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 1800px) and (max-width:2000px){
  .container2{
    max-width: 48rem;
  }
  .input>input{
    font-size: 2rem;
  }
  .forgot{
    font-size: 2rem;
  }
  .logBtn{
    font-size: 1.8rem;
  }
  .para{
    font-size: 1.8rem;
  }
}



@media screen and (max-width:560px) {
  .form{
    gap: 1.2rem;
  }
  .input>input{
    padding: 13px;
  }
  .logBtn{
    padding: 13px 20px;
  }
}

@media screen and (min-width:561px) and (max-width:768px){
  .container2{
    min-width: 34rem;
  }
  .form{
    gap: 1.5rem;
  }
}

@media screen and (max-height:620px) {
  .form{
    gap: 1rem;
  }
}

@media screen and (max-height:570px) {
  .container2{
    max-width: 30rem;
  }
}

@media screen and (max-height:500px) {
  .container2{
    min-width: auto;
    width: 25rem;
  }
  .input>input{
    padding: 11px;
  }
  .logBtn{
    padding: 11px 20px;
  }
}