.container {
  /* padding: 0 36vw; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  box-sizing: border-box;
}

.logo {
  width: 95%;
  margin: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
  z-index: 10000;
  position: relative;
}

.logo div {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -33%);
  height: 30%;
  width: 70%;
  border-radius: 50%;
  background: #0fad7b;
  filter: drop-shadow(0px 0px 80px #0fad7b);
}

.avatarSelection .a_text {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

.avatarSelection {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  height: 95%;
  z-index: 5;
}

.avatarGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  place-items: center;
}

.selectedAvatar {
  outline: 3px solid #de8d21;
}

.notSelectedAvatar {
  opacity: 50%;
}

.avatarGroup img {
  box-sizing: border-box;
  border-radius: 50%;
  height: 100%;
  border: 4px solid transparent;
  /* width: 100%; */
  cursor: pointer;
}

.paybtn button {
  outline: none;
  padding: 30px 0;
  margin: 40px auto 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0fad7b;
  color: #ffffff;
  font-size: 1.6rem;
  width: 95%;
  height: 50px;
  border: none;
  border-right: 1px solid #19cb8a;
  border-bottom: 1px solid #005435;
}

.terms{
  width: 95%;
  color: white;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.terms input{
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  margin: 0 20px;
}

footer{
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
  position: absolute;
  bottom:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: #F78A20;
  font-size: 1.5rem;
}

footer span{
  color: white;
}

@media (max-width : 1000px) {
  footer{
    flex-direction: column;
  }
}

