.container {
  font-family: "Avenir";
  /* padding: 0 36vw; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 600px;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  background: #0a0a12;
}

.avatarSelection {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  height: 75%;
  z-index: 5;
}

.logo {
  /* height: 27vh; */
  width: inherit;
  /* height: inherit; */
  margin: 0 auto 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  /* height: 100%; */
  width: 100%;
  /* height: 100%; */
  z-index: 10000;
  /* position: relative; */
}

.logo div {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -33%);
  height: 30%;
  width: 70%;
  border-radius: 50%;
  background: #0fad7b;
  filter: drop-shadow(0px 0px 80px #0fad7b);
}

.avatarSelection .a_text {
  margin: 5px 0 10px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.avatarGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  place-items: center;
}

.selectedAvatar {
  outline: 3px solid #de8d21;
}

.notSelectedAvatar {
  opacity: 50%;
}

.avatarGroup img {
  height: 90%;
  box-sizing: border-box;
  border-radius: 50%;
  height: 100%;
  border: 4px solid transparent;
  cursor: pointer;
}

.paybtn button {
  outline: none;
  padding: 30px 0;
  margin: 20px auto 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0fad7b;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  width: 95%;
  height: 7vh;
  border: none;
  border-right: 1px solid #19cb8a;
  border-bottom: 1px solid #005435;
}

.paybtn button:active {
  background-color: #094b38;
  border-right: 1px solid #005435;
}

.terms {
  color: white;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 20px;
}

.input {
  position: relative;
  width: 25px;
  height: 25px;
  margin: auto 20px;
  cursor: pointer;
}

.input span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 20px;
  width: 20px;
}

.input img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  width: 80%;
}

.terms .input input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 10;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.input input:checked ~ span {
  background-color: #08ac70;
}

.input input:checked ~ span img {
  display: block;
}

footer {
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: #f78a20;
  font-size: 14px;
  pointer-events: none;
}

footer span {
  color: white;
}

@media (max-width: 1100px) {
  .terms {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  footer {
    display: none;
  }
}

@media (max-width: 720px) {
  .terms {
    margin: 0 auto;
    width: 80%;
  }

  .avatarSelection {
    width: fit-content;
  }

  .avatarSelection .a_text {
    font-size: 1.5rem;
  }

  .logo {
    width: 75vw;
  }

  .container {
    padding: 40px 20px;
  }

  .avatarGroup {
    width: 90%;
    margin: 0 auto;
  }

  .avatarGroup img {
    width: 20vw;
  }

  .paybtn button {
    height: 5vh;
    padding: 25px;
    width: 80%;
  }
}

@media (max-width: 650px) {
  footer {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .avatarSelection {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -52%);
  }
}
