@font-face {
  font-family: Avenir;
  src: url(./static_files/AvenirLTStd-Roman.otf);
}

:root {
  --background: #ffffff;
  --text_color: black;
  --background_url: url("./static_files/BG_darkg.svg");
  --main_background_url: url("./static_files/BG_Main_Dark.svg");
  --main_background_url_dark: url("./static_files/BG_Main_Dark.svg");
  --main_story_dark: url("./static_files/Story_BG.svg");
  --mobile_background: url("./static_files/BG_Mobile.svg");
}

[data-theme="dark"] {
  --background: #292830;
  --text_color: white;
  --background_url: url("./static_files/BG_darkg.svg");
  --main_background_url: url("./static_files/BG_Main_Dark.svg");
}

.App {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  background: var(--background_url) no-repeat center fixed;
  background-size: cover;
}
